<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>server-admin-info</param-name>
    <param-value>admin123</param-value>
  </context-param>
  <servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>p1.MyServlet</servlet-class>
    <init-param>
      <param-name>res-token</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>p1.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLServlet</display-name>
    <servlet-name>URLServlet</servlet-name>
    <servlet-class>p2.URLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLServlet</servlet-name>
    <url-pattern>/URLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPage</display-name>
    <servlet-name>DisplayPage</servlet-name>
    <servlet-class>p2.DisplayPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPage</servlet-name>
    <url-pattern>/DisplayPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesServlet</display-name>
    <servlet-name>CookiesServlet</servlet-name>
    <servlet-class>p2.CookiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesServlet</servlet-name>
    <url-pattern>/CookiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>p2.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPage</display-name>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>p2.UserPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
</web-app>